@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.historial-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.historial-sidebar {
  position: fixed;
  top: 0;
  left: 100vh - 360px;
  bottom: 0;
  right: 0;
  width: 460px;
  background-color: #fff;
  /* display: flex;
  flex-direction: column; */
  /* justify-items: center; */
}
.historial-content {
  padding: 20px 60px;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}
.historial-close-button {
  border: none;
  padding: 0 16px;
  height: 36px;
  font-weight: bold;
  color: tomato;
  background-color: #fff;
}
.historial-item {
  background-color: #fff;
  padding: 10px 0;
  text-align: end;
}
